<div class="messages-div" id="messages-container">

</div>
<div class="input-div">
    <input type="text" name="input-message" id="input-message">

    <button type="submit" id="button-send-message">Enviar</button>
</div>